html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  display: inline-block;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}