@import 'reset';

$main-color: #413d4b;
$accent-color: #00e0d0;

%title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  line-height: normal;
}
%button{
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  padding: 10px 17px;
  transition: all .3s;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $main-color;
}
.container{
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.header{
  color: #fff;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09052f;
    background: -moz-linear-gradient(left, #09052f 0%, #1e1247 51%, #301d5e 100%);
    background: -webkit-linear-gradient(left, #09052f 0%, #1e1247 51%, #301d5e 100%);
    background: linear-gradient(to right, #09052f 0%, #1e1247 51%, #301d5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09052f', endColorstr='#301d5e', GradientType=1);
    opacity: 0.851;
  }
  &__inner{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
  }
  &__offer{
    padding: 80px 0;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
  }
  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    margin-bottom: 40px;
  }
  &__text{
    line-height: 24px;
    margin-bottom: 45px;
  }
  &__btn{
    @extend %button;
    &:hover{
      background-color: rgba(#fff, .2);
    }
  }
}

.menu{
  &__item+&__item{
    margin-left: 20px;
  }
  &__link{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: normal;
    transition: all .3s;
    &:hover{
      color: $accent-color;
    }
  }
}

.btn{
  width: 35px;
  cursor: pointer;
  display: none;
  &__line{
    height: 4px;
    background-color: #fff;
    & + &{
      margin-top: 4px;
    }
  }
}

.about{
  padding: 65px 0 75px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    margin: 0 100px 0 65px;
    max-width: 235px;
    object-fit: contain;
    object-position: center top;
  }
  &__title{
    @extend %title;
    margin-bottom: 20px;
  }
  &__text + &__text{
    margin-top: 20px;
  }
  &__btn{
    margin-top: 25px;
    @extend %button;
    &:hover{
      background-color: rgba(#170e40, .05);
    }
  }
}

.contact{
  padding-bottom: 100px;
  &__title{
    @extend %title;
    text-align: center;
    margin-bottom: 30px;
  }
}
.form{
  max-width: 460px;
  margin: 0 auto;
  &__input, &__message{
    width: 100%;
    border: 1px solid #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: $main-color;
    &::placeholder{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      color: rgba(#413d4b, .5);
    }
  }
  &__input{
    height: 45px;
    padding: 0 20px;
    margin-bottom: 23px;
  }
  &__message{
    resize: none;
    padding: 18px 20px;
    min-height: 200px;
    margin-bottom: 20px;
  }
  &__btn{
    @extend %button;
    &:hover{
      background-color: rgba(#170e40, .05);
    }
  }
}

.footer{
  padding: 65px 0 70px;
  position: relative;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09052f;
    background: -moz-linear-gradient(left, #09052f 0%, #1e1247 51%, #301d5e 100%);
    background: -webkit-linear-gradient(left, #09052f 0%, #1e1247 51%, #301d5e 100%);
    background: linear-gradient(to right, #09052f 0%, #1e1247 51%, #301d5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09052f', endColorstr='#301d5e', GradientType=1);
    opacity: 0.851;
  }
  &__inner{
    z-index: 10;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copy{
    font-weight: 500;
    line-height: 26px;
  }
}

@import 'media';